# Скопируйте этот файл в .env.secrets и заполните значения.
# Файл .env.secrets не коммитится и должен быть доступен только пользователю бота.

TELEGRAM_BOT_TOKEN=
LITEROUTER_API_KEY=
PANEL_PASSWORD=
